name: Server CD

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: server
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build server
        run: ./gradlew clean build --no-daemon

      - name: Build and push Docker image
        run: |
          docker build -t vovgoo/banksystem-server:latest .
          docker push vovgoo/banksystem-server:latest
